.feedback {

    &__form-container {
        margin-top: 200px;
    }
}

@include tablets {
    .feedback {

        &__form-container {
            margin-top: 120px;

            .section-title {
                text-align: center;
            }
        }
    }
}