.header {
    display: flex;
    align-items: center;

    &__nav {
        margin-left: auto;
    }

    &__nav-list {
        display: flex;
        align-items: center;
    }

    &__social-block {
        margin-left: 90px;
    }
}
