.section-title {
    font-family: 'OS-Bold';
    font-size: 30px;
    color: $text-color;

    &__subtitle {
        margin-top: 60px;
        display: inline-block;
        font-family: 'OS-SemiBold';
        font-size: 16px;
        line-height: 30px;
        color: $gray-text;
    }
}