.section {
    min-height: 100vh;

    &--main {
        background-image: url('/src/images/Mountain-Baloon.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        height: 1780px;
        display: flex;
    }
}