section.section.section--feedback.section--budda
    .container.feedback
        .feedback__review-slider
            .reviews
                .reviews__header
                    h3.section-title Что обо мне говорят
                    .reviews__slide-switcher
                        button.reviews__slider-btn.reviews__slider-btn--prev
                            +icon('arrow-down', 'reviews__slider-btn-icon')
                        button.reviews__slider-btn.reviews__slider-btn--next
                            +icon('arrow-down', 'reviews__slider-btn-icon')
                .reviews__slider
                    ul.reviews__slider-list
                        li.reviews__slider-item
                            .reviews__quote
                                +icon('quote', 'reviews__quote-icon')
                            .reviews__slide-comment
                                | Этот парень проходил обучение веб-разработке не&nbsp;где-то, а&nbsp;в&nbsp;LoftSchool! 
                                | 4,5 месяца только самых тяжелых испытаний и&nbsp;бессонных ночей!
                            .reviews__commentator
                                .reviews__commentator-image
                                    +image('content/dima.jpg', 'reviews__commentator-image')
                                .reviews__commentator-info
                                    .reviews__commentator-name Ковальчук Дмитрий
                                    .reviews__commentator-position Основатель LoftSchool
                        li.reviews__slider-item
                            .reviews__quote
                                +icon('quote', 'reviews__quote-icon')
                            .reviews__slide-comment
                                | Этот парень проходил обучение веб-разработке не&nbsp;где-то, а&nbsp;в&nbsp;LoftSchool! 
                                | 4,5 месяца только самых тяжелых испытаний и&nbsp;бессонных ночей!
                            .reviews__commentator
                                .reviews__commentator-image
                                    +image('content/vova.jpg', 'reviews__commentator-image')
                                .reviews__commentator-info
                                    .reviews__commentator-name Сабанцев Владимир
                                    .reviews__commentator-position Преподователь

        //- form
        .feedback__form-container
            h3.section-title Связаться со мной
            form#feedback-form.feedback-form
                .feedback-form__inputs-row
                    .feedback-form__input-block
                        label.feedback-form__input-label(for="name") 
                            | Введите ваше имя
                        +icon('user','feedback-form__input-icon')
                        input#name.feedback-form__input.feedback-form__input--short(type="text", placeholder="Ковальчук Дмитрий")
                    .feedback-form__input-block
                        label.feedback-form__input-label(for="email") 
                            | Введите ваш e-mail
                        +icon('envelope','feedback-form__input-icon')
                        input#email.feedback-form__input.feedback-form__input--short(type="text", placeholder="loftschool@study.com")
                
                .feedback-form__inputs-row
                    .feedback-form__input-block.feedback-form__input-block--message
                        label.feedback-form__input-label(for="feedback-message") 
                            | Сообщение к письму
                        +icon('message','feedback-form__input-icon')
                        textarea#feedback-message.feedback-form__input.feedback-form__input--message(name="feedback-message", placeholder="Требуется ваша помощь в создании сайта.Интересуют сроки и цена вопроса")
                button(type="submit").button.button--gradient.feedback-form__button Отправить