section.section.section--feedback.section--budda#budda-section(data-anchor-section="feedback-anchor")
    ul.parralax-scene.parralax-scene--budda
        li(data-speed="100").parralax-scene__item
            +image('parallax/budda/2.png', 'parralax-scene__item-image')
        li(data-speed="100").parralax-scene__item
            +image('parallax/budda/3.png', 'parralax-scene__item-image')
        li(data-speed="70").parralax-scene__item.js-parallax-item
            +image('parallax/budda/4.png', 'parralax-scene__item-image')
        li(data-speed="30").parralax-scene__item.js-parallax-item
            +image('parallax/budda/5.png', 'parralax-scene__item-image')
        li(data-speed="20").parralax-scene__item.js-parallax-item
            +image('parallax/budda/5.png', 'parralax-scene__item-image')
        li(data-speed="10").parralax-scene__item.js-parallax-item
            +image('parallax/budda/5.png', 'parralax-scene__item-image')

    .container.feedback
        .feedback__review-slider#feed-slider
        

        //- form
        .feedback__form-container
            h3.section-title Связаться со мной
            form#feedback-form.feedback-form.feedback__form
                .feedback-form__inputs-row
                    .feedback-form__input-block
                        label.feedback-form__input-label(for="name") 
                            | Введите ваше имя
                        input#name.feedback-form__input.feedback-form__input--short.js-form-input(type="text", placeholder="Ковальчук Дмитрий")
                        +icon('user','feedback-form__input-icon')
                    
                    .feedback-form__input-block
                        label.feedback-form__input-label(for="email") 
                            | Введите ваш e-mail
                        input#email.feedback-form__input.feedback-form__input--short.js-form-input(type="text", placeholder="loftschool@study.com")
                        +icon('envelope','feedback-form__input-icon')
                
                .feedback-form__inputs-row
                    .feedback-form__input-block.feedback-form__input-block--message
                        label.feedback-form__input-label(for="feedback-message") 
                            | Сообщение к письму
                        textarea#feedback-message.feedback-form__input.feedback-form__input--message.js-form-input(name="feedback-message", placeholder="Требуется ваша помощь в создании сайта.Интересуют сроки и цена вопроса")
                        +icon('message','feedback-form__input-icon')
                button(type="submit").button.button--gradient.feedback-form__button Отправить