header.header
  .container.header__container
    .header__logo
      a(href="#").header__logo-link Ğ•Ğ’
    nav.header__nav
        +nav-list('header__nav-list', 'header__nav-item', 'header__nav-link')
    .header__social-block
        +social-list('header__social-list', 'header__social-item', 'header__social-link', 'header__social-icon')
    .header__nav-btn-wrapper
      .header__nav-btn.is-active
        span.header__nav-btn-line
        span.header__nav-btn-line
        span.header__nav-btn-line
