section.section.section--main
  .container
    .main
      .main__content
        h3.main__subtitle 
          | Личный сайт
          br
          | веб-разработчика
        h1.title.title--main.main__title 
          |Виктор 
          br
          |Ефименко
      a.main__scroll-btn(href="")
        | Скролл
        +icon('scroll', 'main__scroll-icon')
section.section.section--about
  .container.about
    .about__content-container
      .about__main-info
        .about__avatar-container
          +image('content/user.jpg', 'about__avatar')
        .about__info-data
          .about__info-data-row
            .about__info-data-title Проживаю
            .about__info-data-description Ростов-на-Дону
          .about__info-data-row
            .about__info-data-title Возраст
            .about__info-data-description 21 год
          .about__info-data-row
            .about__info-data-title Родился
            .about__info-data-description 23 марта 1997
      article.about__article
        header.about__article-header
          h5.about__article-subtitle Привет, меня зовут
          h3.about__article-title Ефименко Виктор
          span.about__article-header-description
            | Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
          .about__article-body
            | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
            | Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!