-
    var menuItems = [
        'Главная',
        'Обо мне',
        'Навыки',
        'Работы',
        'Отзывы',
        'Связаться'
    ]

.mobile-nav
    nav.mobile-nav__nav
        +nav-list('mobile-nav__nav-list', 'mobile-nav__nav-item', 'mobile-nav__nav-link')
    +social-list('mobile-nav__social-list', 'mobile-nav__social-item', 'mobile-nav__social-link', 'mobile-nav__social-icon')
