.modal#modal-send
    .modal__content-container
        .modal__message-block
            h3.modal__text Письмо отправлено
            .modal__btn
                button.button.button--gradient
                    | Закрыть