.parralax-scene
    ul.parralax-scene__list
      li(data-speed=".1").parralax-scene__item.parralax-scene__item--sky.js-parallax-item
      li(data-speed=".4").parralax-scene__item.parralax-scene__item--mountain.js-parallax-item
      li(data-speed=".9").parralax-scene__item.parralax-scene__item--baloon.js-parallax-item
      li(data-speed=".3").parralax-scene__item.parralax-scene__item--cloud.js-parallax-item
      li(data-speed=".28").parralax-scene__item.parralax-scene__item--man.js-parallax-item
      li(data-speed=".7").parralax-scene__item.parralax-scene__item--mountain-second.js-parallax-item
      li(data-speed=".3").parralax-scene__item.parralax-scene__item--white.js-parallax-item