ul.parralax-scene.parralax-scene--main
  li(data-speed="100").parralax-scene__item.parralax-scene__item--sky
    +image('parallax/sky.jpg', 'parralax-scene__item-image')
  li(data-speed="90").parralax-scene__item.parralax-scene__item--mountain
    +image('parallax/mountain.png', 'parralax-scene__item-image')
  li(data-speed="20").parralax-scene__item.parralax-scene__item--baloon.js-parallax-item
    +image('parallax/baloon.png', 'parralax-scene__item-image')
  li(data-speed="30").parralax-scene__item.parralax-scene__item--cloud.js-parallax-item
    +image('parallax/cloud.png', 'parralax-scene__item-image')
  li(data-speed="60").parralax-scene__item.parralax-scene__item--man
    +image('parallax/man.png', 'parralax-scene__item-image')
  li(data-speed="50").parralax-scene__item.parralax-scene__item--mountain-second.js-parallax-item
    +image('parallax/mountain1.png', 'parralax-scene__item-image')
  li(data-speed="100").parralax-scene__item.parralax-scene__item--white.js-parallax-item
    +image('parallax/white.png', 'parralax-scene__item-image')