-
    var previewList = [
        {
            itemClassname: 'p-slider__short-preview-item',
            imageName: 'content/portfolio/1.jpg',
            imageClass: 'portfolio__slide-image'
        },
        {
            itemClassname: 'p-slider__short-preview-item',
            imageName: 'content/portfolio/2.jpg',
            imageClass: 'portfolio__slide-image'
        },
        {
            itemClassname: 'p-slider__short-preview-item is-active',
            imageName: 'content/portfolio/3.jpg',
            imageClass: 'portfolio__slide-image'
        }
    ]
    
- var tags =  ['HTML','CSS','Javascript']
section.section.section--portfolio
    .container.portfolio
        .portfolio__title
            h3.section-title Мои работы
        
        .portfolio__slider
            .p-slider
                .p-slider__works-switcher
                    .p-slider__work-number#work-number 2
                    .p-slider__big-preview
                        +image('content/portfolio/1.jpg', 'p-slider__big-image')
                    ul.p-slider__short-preview-list
                        each item in previewList
                            li(class=`${item.itemClassname}`)
                                +image(`${item.imageName}`, `${item.imageClass}`)
                    
                    .p-slider__buttons-container
                        button.p-slider__change-bnt.p-slider__change-bnt--prev.is-disabled
                            +icon('arrow-down', 'p-slider__change-bnt-icon')
                        button.p-slider__change-bnt.p-slider__change-bnt--next
                            +icon('arrow-down', 'p-slider__change-bnt-icon')
                
                //- slide info
                .p-slider__info-block
                    .p-slider__info-tags
                        ul.p-slider__tags-list
                            each tag in tags
                                li.p-slider__tags-item
                                    | #{tag}
                    
                    .p-slider__info-title
                        h3.p-slider__work-title Сайт школы образования
                    
                    .p-slider__info-description
                        | Этот парень проходил обучение веб-разработке не&nbsp;где-то, 
                        | а&nbsp;в&nbsp;LoftSchool! 2&nbsp;месяца только самых тяжелых испытаний и&nbsp;бессонных ночей!
                    
                    .p-slider__info-link
                        a(href="#").p-slider__work-link
                            +icon('link', 'p-slider__link-icon')
                            | Посетить сайт