-
    var previewList = [
        {
            itemClassname: 'p-slider__short-preview-item',
            imageName: 'content/portfolio/1.jpg',
            imageClass: 'portfolio__slide-image'
        },
        {
            itemClassname: 'p-slider__short-preview-item',
            imageName: 'content/portfolio/2.jpg',
            imageClass: 'portfolio__slide-image'
        },
        {
            itemClassname: 'p-slider__short-preview-item is-active',
            imageName: 'content/portfolio/3.jpg',
            imageClass: 'portfolio__slide-image'
        }
    ]
    
- var tags =  ['HTML','CSS','Javascript']
section.section.section--portfolio
    .container.portfolio
        .portfolio__title
            h3.section-title Мои работы
        
        .portfolio__slider#portfolio-slider
            