section.section.section--skills
        .container.skills-container
          .skills
            .skills__header
              h3.section-title Чем я могу быть полезен вам
              span.section-title__subtitle
                | Этот сайт я&nbsp;сделал в&nbsp;рамках обучения в&nbsp;Школе онлайн образования LoftSchool. 
                | Чуть позже я&nbsp;освежу в&nbsp;нём свой контент. А&nbsp;пока посмотрите, как тут всё классно и&nbsp;красиво!
            .skills__skills-container#skills-container

            //- mobile bg image
            .skills__mobile-bg
              +image('backpack.jpg', 'skills__mobile-bg-image')