section.section.section--skills
        .container.skills-container
          .skills
            .skills__header
              h3.section-title Чем я могу быть полезен вам
              span.section-title__subtitle
                | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
                | Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .skills__skills-container
              .skills__skills-block
                h3.skills__block-title
                  | Front-end
                ul.skills__skills-list
                  li.skills__item
                    +image('content/skill.png', 'skills__item-icon')
                  li.skills__item
                    +image('content/skill.png', 'skills__item-icon')
                  li.skills__item
                    +image('content/skill.png', 'skills__item-icon')
                  li.skills__item
                    +image('content/skill.png', 'skills__item-icon')
              .skills__skills-block
                h3.skills__block-title
                  | Workflow
                ul.skills__skills-list
                  li.skills__item
                    +image('content/skill.png', 'skills__item-icon')
                  li.skills__item
                    +image('content/skill.png', 'skills__item-icon')
                  li.skills__item
                    +image('content/skill.png', 'skills__item-icon')
                  li.skills__item
                    +image('content/skill.png', 'skills__item-icon')