-
    var menuItems = [
        'Главная',
        'Обо мне',
        'Навыки',
        'Работы',
        'Отзывы',
        'Связаться'
    ]


header.header
        .container.header__container
          .header__logo
            a(href="#").header__logo-link ЕВ
          nav.header__nav
            ul.header__nav-list
              each item in menuItems
                li.header__nav-item
                  a(href="#").header__nav-link= item
          .header__social-block
              ul.header__social-list
                li.header__social-item
                  a(href="https://instagram.com/vkthevk", target="_blank").header__social-link
                    +icon('insta', 'header__social-icon')
                li.header__social-item
                  a(href="https://vk.com/zvikk", target="_blank").header__social-link
                    +icon('vk', 'header__social-icon')
                li.header__social-item
                  a(href="https://github.com/zvikk", target="_blank").header__social-link
                    +icon('github', 'header__social-icon')