-
    var menuItems = [
        'Главная',
        'Обо мне',
        'Навыки',
        'Работы',
        'Отзывы',
        'Связаться'
    ]

include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    <link rel="shortcut icon" href="/src/images/favicon.ico" type="image/x-icon">
    title Portfolio | main page
  body
    .wrapper
      header.header
        .container.header__container
          .header__logo
            a(href="#").header__logo-link ЕВ
          nav.header__nav
            ul.header__nav-list
              each item in menuItems
                li.header__nav-item
                  a(href="#").header__nav-link= item
          .header__social-block
              ul.header__social-list
                li.header__social-item
                  a(href="https://instagram.com/vkthevk", target="_blank").header__social-link
                    +icon('insta', 'header__social-icon')
                li.header__social-item
                  a(href="https://vk.com/zvikk", target="_blank").header__social-link
                    +icon('vk', 'header__social-icon')
                li.header__social-item
                  a(href="https://github.com/zvikk", target="_blank").header__social-link
                    +icon('github', 'header__social-icon')
      section.section.section--main
        .container.main
            .main__content
              h3.main__subtitle 
                | Личный сайт
                br
                | веб-разработчика
              h1.title.title--main.main__title 
                |Виктор 
                br
                |Ефименко
            a.main__scroll-btn(href="")
              | Скролл
              +icon('scroll', 'main__scroll-icon')
      section.section.section--info
        .container
            